.search-dropdown {
  .MuiPaper-root-10 {
    overflow-y: hidden !important;

    .fast-option {
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}