.search-dropdown {
  .MuiPaper-root {
    overflow-y: hidden !important;

    .fast-option {
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 16px;
      padding-left: 8px;
      
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}