.stash-display-item {
  position: absolute;

  .item-details,
  .card-wrapper,
  .vaal-gem-container {
    visibility: hidden;
    position: fixed;
    max-width: 550px;
  }

  .vaal-gem-container .item-details {
    position: relative;
  }

  .stack-size {
    color: white;
    font-size: 11px;
    position: absolute;
    pointer-events: none;
  }

  &.hover {

    .item-image { background-color: #111331; }

    .item-tooltip {
      .item-details,
      .card-wrapper {
        visibility: visible;
      }
    }
  }
}