$images-path: "../../assets/images/stash";

.stash-display {
  position: relative;

  &.tab {
    background-image: url("#{$images-path}/StashPanelGrid.png");
    background-repeat: no-repeat;
    background-size: 569px;
    width: 569px;
    height: 569px;

    &.quad { background-image: url("#{$images-path}/QuadStashPanelGrid.png"); }
    &.currency { background-image: url("#{$images-path}/StashPanelCurrency.png"); }
    &.essence { background-image: url("#{$images-path}/EssenceStashPanelGrid.png"); }
    &.fragment { background-image: url("#{$images-path}/StashPanelFragment.png"); }

    &.divination {
      background-image: unset;
      background: black;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
    }
  }
}