@import '../../sass/colors.scss';

.card-wrapper {
  position: relative;
  background: black;

  .card-graphic {
    position: absolute;
    margin-top: 25px;
    margin-left: 16px;
    width: 152px;
    height: 108px;
    }

  .card-overlay {
    background: transparent url("https://web.poecdn.com/image/Art/2DItems/Divination/Images/DivinationCard.png?scale=1");
    background-size: 178px auto;
    width: 178px;
    height: 272px;
    margin: 0 2px;
    position: relative;
    z-index: 1;

    .card-name {
      width: 134px;
      position: absolute;
      top: 10px;
      left: 22px;
      font-size: 11px;
      text-align: center;
    }

    .stack {
      position: absolute;
      width: 25px;
      top: 129px;
      left: 19px;
      font-size: 9px;
      color: white;
      text-align: center;
    }

    .explicit-mods {
      position: absolute;
      font-size: 11px;
      width: 155px;
      height: 44px;
      top: 140px;
      left: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .mods {
        *:not(:last-child) { padding-right: 3px; }
        .uniqueitem { color: $unique-color; }
        .corrupteditem { color: $corrupted-color; }
        .magicitem { color: $magic-color; }
        .default { color: $default-color; }
        .normal { color: $normal-color; }
        .currencyitem { color: $currency-color; }
        .whiteitem { color: $normal-color; }
        .gemitem { color: $gem-color; }
        .rareitem { color: $rare-color; }
        .augmented { color: $magic-color; }
        .corrupted { color: $corrupted-color; }
        .prophecy { color: $prophecy-color; }
        .divination { color: $divination-color; }
      }
    }

    .flavour-text {
      
      &.card {
        font-size: 11px;
        font-style: italic;
        color: $unique-color;
        position: absolute;
        left: 10px;
        top: 183px;
        width: 159px;
        height: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }
}