$images-path: "../../assets/images/stash";

.character-inventory {
  position: relative;
  background-image: url("#{$images-path}/MainInventory.png");
  width: 600px;
  height: 781px;
  margin: auto;

  .weapon-switch {
    position: absolute;
    top: 84px;
    width: 44px;
    height: 22px;
    cursor: pointer;

    &.slot-1 { background-image: url("#{$images-path}/WeaponSwap1.png"); }
    &.slot-2 { background-image: url("#{$images-path}/WeaponSwap2.png"); }
    &.left { left: 90px; }
    &.right { left: 460px; }
  }

  .Weapon2.slot-1 { visibility: hidden; }
  .Offhand2.slot-1 { visibility: hidden; }
  .Weapon.slot-2 { visibility: hidden; }
  .Offhand.slot-2 { visibility: hidden; }
}