.search-result {
  display: flex;
  padding: 4px;
  min-width: 100%;

  .item-display {
    position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-wrapper {
      position: relative;
    }
  }

  .item-details {
    margin: 0 auto;
    background: transparent;
  }

  .card-wrapper {
    margin: 0 auto;
  }

  .stash-display {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}