.search-result {
  display: flex;
  padding: 4px;

  .item-display {
    position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-wrapper {
      position: relative;
    }
  }

  .item-details, .card-wrapper {
    flex-grow: 1;
    width: 100%;
    background: transparent;
  }

  .stash-display {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}