.react-autosuggest__suggestions-container {
  max-height: 33vh;
  overflow-y: scroll;

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .suggestion-item {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}