$socket-images: "../../assets/images/sockets.png";
$socket-size: 30px;
$quad-socket-size: 15px;

.socket-container {

  %socket {
    width: $socket-size;
    height: $socket-size;
    position: absolute;
    background-image: url($socket-images);
    background-size: 136.7px 136.7px;

    &.quad-stash {
      width: $quad-socket-size;
      height: $quad-socket-size;
      background-size: 68.53px 68.53px;
    }
  }

  %socket-hover {
      background-color: lightblue;
      border-radius: 15px;
  }

  // blue gem
  .item-colour-I {
    @extend %socket;
    background-position: -1px -31px;

    &.quad-stash { background-position: 0 -15px; }

    &.support {
      background-position: -63px -93px;

      &.quad-stash { background-position: -100px -115px; }
    }
  }
  // green gem
  .item-colour-D {
    @extend %socket;
    background-position: -32px -31px;

    &.quad-stash { background-position: -15px -15px; }

    &.support {
      background-position: -32px -63px;
    
      &.quad-stash { background-position: -16px -100px; }
    }
  }
  // red gem
  .item-colour-S {
    @extend %socket;
    background-position: -63px -1px;

    &.quad-stash { background-position: -31px 1px; }

    &.support {
      background-position: -1px -62px;

      &.quad-stash { background-position: 0 -100px; }
    }
  }
  // white gem
  .item-colour-G {
    @extend %socket;
    background-position: -63px -32px;

    &.quad-stash { background-position: 37px -15px; }
  }
  // abyss jewel
  .item-colour-A {
    @extend %socket;
    background-position: -31px -1px;

    &.quad-stash { background-position: -15px 0; }
  }
  // fossil
  .item-colour-F {
    @extend %socket;
    background-position: 44px -1px;

    &.quad-stash { background-position: 21px 0px; }
  }
  // blue socket
  .socket-B {
    @extend %socket;
    background-position: -1px -1px;

    &.quad-stash { background-position: 0 0; }
    &.hover { @extend %socket-hover; }
  }
  // green socket
  .socket-G {
    @extend %socket;
    background-position: 43px 74px;

    &.quad-stash { background-position: 23px 38px; }
    &.hover { @extend %socket-hover; }
  }
  // red socket
  .socket-R {
    @extend %socket;
    background-position: -1px 43px;

    &.quad-stash { background-position: 1px 22px; }
    &.hover { @extend %socket-hover; }
  }
  // white socket
  .socket-W {
    @extend %socket;
    background-position: -31px -93px;

    &.quad-stash { background-position: -16px -115px; }
    &.hover { @extend %socket-hover; }
  }
  // resonator socket
  .socket-DV {
    @extend %socket;
    background-position: 44px -32px;

    &.quad-stash { background-position: -47px -15px; }
    &.hover { @extend %socket-hover; }
  }
  // abyss socket
  .socket-A {
    @extend %socket;
    background-position: -62px -62px;

    &.quad-stash { background-position: -31px -100px; }
    &.hover { @extend %socket-hover; }
  }

  .item-details { visibility: hidden; }
  .hover ~ .item-details { visibility: visible; }
}
