$unique-color: #af6025;
$rare-color: #ffff77;
$corrupted-color: #d20000;
$currency-color: #aa9e82;
$magic-color: #8888ff;
$default-color: #7f7f7f;
$normal-color: #c8c8c8;
$gem-color: #1ba29b;
$prophecy-color: #b54bff;
$relic-color: #82ad6a;
$craft-color: #b4b4ff;
$divination-color: #aae6e6;
$fractured-color: #a29162;
$incubated-color: #b4b4ff;
// item property colors
$augmented-mod-color: #8888ff;
$fire-mod-color: #960000;
$cold-mod-color: #366492;
$lightning-mod-color: gold;
$chaos-mod-color: #d02090;