body {
    font-family: "Roboto";
}

#root {
  max-height: 100vh;
  overflow-x: hidden;
}

.page-container {
  padding: 4px;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}